<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width, initial-scale=1.0" />
        <!-- Minified jQuery 1.12 -->
        <script src="{{asset('/plugins/jquery/jquery-1.12.0.min.js')}}"></script>
        <!-- BStrap - Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <!-- BStrap - Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- DateTimePicker -->
        <script src="{{asset('/plugins/datetime/jquery.datetimepicker.js')}}"></script>
        <!-- AutoSize -->
        <script src="{{asset('/plugins/autosize/jquery.autosize.js')}}"></script>
        <!-- CanvasJS -->
        <script src="{{asset('/plugins/canvas/jquery.canvasjs.min.js')}}"></script>
        <!-- qTip -->
        <script src="{{asset('/plugins/qTip/jquery.qtip.min.js')}}"></script>
        <!-- BS TagsInput -->
        <script src="{{asset('/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js')}}"></script>
        <!-- TypeAhead -->
        <script src="{{asset('/plugins/typeahead/bootstrap3-typeahead.min.js')}}"></script>
        <!-- WebFont  -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <style>
                * {
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                }

                body {
                    background-color: #F7F7F6;
                }

                #container {
                    padding-top: 20px;
                    width: 70%;
                    margin: 0 auto;
                }

                #header > nav > .container-fluid {
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    padding: 15px;
                }

                .navbar-brand > img {
                    display: inline-block;
                }

                .navbar-default .navbar-brand {
                    padding: 5px;
                }

                .navbar {
                    background-color: #F7F7F6;
                    border: none;
                    font-size: 18px;
                }

                .navbar-default .navbar-nav>.active>a,
                .navbar-default .navbar-nav>.active>a:hover {
                    color: inherit;
                    background: inherit;
                    border-bottom: 5px solid #F56D62;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .nav>li>a {
                    position: relative;
                    display: block;
                    padding: 8px 0px;
                    margin-left: 45px;
                }

                #footer {
                    margin-top: 50px;
                }

                .footer-description {
                    color: #A8A39E;
                    font-size: 12px;
                }

                #footer>ul>li {
                    color: #A8A39E;
                    font-size: 16px;
                }

                .box {
                    padding: 15px;
                    min-height: 200px;
                }

                .box-pic {
                    max-width: 100%;
                    height: auto;
                }

                .box-title {
                    text-align: center;
                    padding: 10px 0px;
                }

                .box-date {
                    font-weight: 400;
                }

                .bgr {
                    background: white;
                    min-height: 200px;
                }

                h1 > i:before {
                    font-size: 18px;
                    padding-left: 10px;
                    vertical-align: middle;
                    color: #F05252;
                }

                #main > .row > p {
                    font-size: 16px;
                    margin: 0;
                    padding-top: 30px;
                    display: inline-block;
                }

                .red {
                    color: #F05252;
                }

                .gray {
                    color: #B9C1CB;
                }

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                }
            </style>
            <title>{{'title.prap'|trans}}</title>
        </head>
        <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            </body>
        </html>
