{% extends 'AppBundle:Layout:base.html.twig' %}

{% block body %}
<script type="text/javascript">
    $(function() {
        $('#suva').autosize();
    });
    </script>
    <div id="container">
        <header id="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">{{'toggle.navigation'|trans}}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path('prap.default')}}"><img src="{{asset('/img/Logo.svg')}}" alt="PRAP" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="#">{{'menu.projects'|trans}}</a></li>
                            <li><a href="#">{{'menu.contacts'|trans}}</a></li>
                            <li><a href="#">{{'menu.settings'|trans}}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><i class="fa fa-user gray"></i>Root{#TODO#}</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header>

        <section id="main">
            <div class="row">
                <h1 class="col-md-9">{{'title.projects'|trans}}<i class="fa fa-search"></i></h1>
                <p class="col-md-3">{{'create.new'|trans}} &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-bars red"></i>
                    <i class="fa fa-th-large gray"></i> </p>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <h2 class="gray">{{'title.ongoing'|trans}}</h2>
                </div>
                    {% for project in projects %}
                        {% if project.getEnd() >= today %}
                <div class="col-md-4 box">
                    <div class="bgr">
                                    {% if project.getImage() %}
                            <img class="box-pic" src="{{asset(project.getImage().getUrl())}}" alt="TOPKEK" />
                                    {% endif %}
                            <p class="box-title">{{project.getTitle()}}
                                <br> <span class="box-date">{{'last.updated'|trans}} {{project.getCreated()|localizeddate('medium', 'none')}}</span></p>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-12">
                        <h2 class="gray">{{'title.past'|trans}}</h2>
                    </div>
                {% for project in projects %}
                        {% if project.getEnd() < today %}
                    <div class="col-md-4 box">
                        <div class="bgr">
                                    {% if project.getImage() %}
                                <img class="box-pic" src="{{asset(project.getImage().getUrl())}}" alt="TOPKEK" />
                                    {% endif %}
                                <p class="box-title">{{project.getTitle()}}
                                    <br> <span class="box-date">{{'last.updated'|trans}} {{project.getCreated()|localizeddate('medium', 'none')}}</span></p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </section>

                <footer id="footer">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">{{'toggle.navigation'|trans}}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"><img src="{{asset('/img/FooterLogo.svg')}}" alt="PRAP" /></a>
                                <span class="footer-description">{{'text.footer'|trans}}</span>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">{{'menu.about'|trans}}</a></li>
                                    <li><a href="#">{{'menu.team'|trans}}</a></li>
                                    <li><a href="#">{{'menu.legal'|trans}}</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </footer>
            </div>
{% endblock %}
